body{
    background-image: image-set("paisagem.jpg");
    background-repeat: no-repeat;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

form{
    margin: auto;
    background-color: rgb(128, g128, o.524);
    border-radius: 7px;
    margin-left: 800px;
}
label{
    padding-top: 5px;
    margin-left: 10px;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}